<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://TL011T\SQLEXPRESS;database=TransportSystem</property>
        <!--<property name="connection.username">sa</property>
        <property name="connection.password">password</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Create the tables via the entities classes-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class -->
        <mapping class="transport.DAL.Models.Bus"/>
        <mapping class="transport.DAL.Models.Ticket"/>

    </session-factory>


</hibernate-configuration>
